<section
  class="breadcrumb_part parallax_bg"
  style="background-position: 50% 0px"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="breadcrumb_iner">
          <h2>Vacation Packages</h2>
          <div class="breadcrumb_iner_link">
            <a href="index.html">Home</a>
            <span>|</span>
            <p>Vacation Packages</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb_animation_4">
    <div data-parallax='{"x": 30, "y": 250, "rotateZ":0}'>
      <img src="assets/images/animated_banner_4.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_5">
    <div data-parallax='{"x": 20, "y": 150, "rotateZ": 180}'>
      <img src="assets/images/animated_banner_5.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_7">
    <div data-parallax='{"x": 100, "y": 250, "rotateZ":0}'>
      <img src="assets/images/animated_banner_15.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_10">
    <div data-parallax='{"x": 15, "y": 150, "rotateZ":0}'>
      <img src="assets/images/animated_banner_10.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_12">
    <div data-parallax='{"x": 20, "y": 150, "rotateZ":180}'>
      <img src="assets/images/animated_banner_20.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_13">
    <div data-parallax='{"x": 10, "y": 250, "rotateZ": 180}'>
      <img src="assets/images/animated_banner_21.png" alt="#" />
    </div>
  </div>
</section>

<section
  class="vacation_packages_section section_padding s4_vacation_packages_section"
>
  <div class="container custom_container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-xl-5 order-2 order-lg-1">
        <div class="vacation_packages_section_content mt-5 mt-lg-0">
          <h2 class="kid_title wow fadeInLeft" data-wow-delay=".4s">
            <span class="title_overlay_effect"
              >Affordable Vacation Packages for Kids in Bangalore</span
            >
          </h2>
          <p class="wow fadeInLeft" data-wow-delay=".5s">
            We have surprising packages during holiday seasons which will let
            your kids make the most of their vacation time.
          </p>
          <br />
          <p class="wow fadeInLeft" data-wow-delay=".5s">
            Tumble Time Play Area is an indoor kids playground with lots of fun
            filled indoor games and activities for kids located in Bangalore. We
            are open seven days a week (including most Public Holidays) on
            Weekdays from 11am – 8pm and on Sunday, Saturday & Holidays from
            10am – 9pm*.
          </p>
          <div class="list_content" style="display: none">
            <ul>
              <li class="wow fadeInLeft" data-wow-delay=".5s">
                <i class="far fa-check-circle"></i> Best Learning School for
                Kids
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".5s">
                <i class="far fa-check-circle"></i> Indoor/Outdoor Games for
                Little Kids
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".6s">
                <i class="far fa-check-circle"></i> Professional &amp; Qualified
                Teacher
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".6s">
                <i class="far fa-check-circle"></i> Indoor/Outdoor Games for
                Little Kids
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="img_section">
          <img
            src="assets/images/about_img_shape_2.png"
            alt="#"
            class="vacation_packages_img_7"
            data-parallax='{"x": 0, "y": -50, "rotateZ":0}'
          />
          <img
            src="assets/images/about_img_7.png"
            alt="#"
            class="vacation_packages_img_6 img-fluid"
          />
          <img
            src="assets/images/about_img_shape_1.png"
            alt="#"
            class="vacation_packages_img_5"
            data-parallax='{"x": 0, "y": 50, "rotateZ":0}'
          />
        </div>
      </div>
    </div>
  </div>
  <div class="vacation_packages_page_animation_1">
    <div data-parallax='{"x": 2, "y": 70, "rotateZ":0}'>
      <img src="assets/images/icon_5.png" alt="#" />
    </div>
  </div>
  <div class="vacation_packages_page_animation_2">
    <div data-parallax='{"x": 10, "y": 80, "rotateZ":0}'>
      <img src="assets/images/icon_6.png" alt="#" />
    </div>
  </div>
  <div class="vacation_packages_page_animation_3">
    <div data-parallax='{"x": 30, "y": 60, "rotateZ":0}'>
      <img src="assets/images/icon_7.png" alt="#" />
    </div>
  </div>
  <div class="vacation_packages_page_animation_4">
    <div data-parallax='{"x": 30, "y": -50, "rotateZ":0}'>
      <img src="assets/images/icon_8.png" alt="#" />
    </div>
  </div>
</section>

<app-testimonial></app-testimonial>
