<section
  class="breadcrumb_part parallax_bg"
  style="background-position: 50% 0px"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="breadcrumb_iner">
          <h2>Membership</h2>
          <div class="breadcrumb_iner_link">
            <a href="index.html">Home</a>
            <span>|</span>
            <p>Membership</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb_animation_4">
    <div data-parallax='{"x": 30, "y": 250, "rotateZ":0}'>
      <img src="assets/images/animated_banner_4.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_5">
    <div data-parallax='{"x": 20, "y": 150, "rotateZ": 180}'>
      <img src="assets/images/animated_banner_5.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_7">
    <div data-parallax='{"x": 100, "y": 250, "rotateZ":0}'>
      <img src="assets/images/animated_banner_15.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_10">
    <div data-parallax='{"x": 15, "y": 150, "rotateZ":0}'>
      <img src="assets/images/animated_banner_10.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_12">
    <div data-parallax='{"x": 20, "y": 150, "rotateZ":180}'>
      <img src="assets/images/animated_banner_20.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_13">
    <div data-parallax='{"x": 10, "y": 250, "rotateZ": 180}'>
      <img src="assets/images/animated_banner_21.png" alt="#" />
    </div>
  </div>
</section>

<section class="membership_section section_padding s4_membership_section">
  <div class="container custom_container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-12 col-xl-12 order-2 order-lg-1">
        <div class="membership_section_content mt-5 mt-lg-0">
          <h2 class="kid_title wow fadeInLeft" data-wow-delay=".4s">
            <span class="title_overlay_effect"
              >Best Kids Play Zone in Bangalore</span
            >
          </h2>
          <p
            class="wow fadeInLeft"
            data-wow-delay=".5s"
            style="text-align: justify"
          >
            We want you to feel like you are getting value for money, so if you
            are going to be visiting Tumble Time Play Area more times in a month
            or year, you are better off under a indoor play area membership.
            Indoor Play Area Membership aims to reward frequent visitors. It
            reduces the cost of entry for each child with unlimited hours and
            makes the accompanying adults free (max 2 adults) if they are not
            using the play zones. Due to the fact that we have a limit on the
            number of visitors we can have at one time, indoor play area
            membership does not provide for unlimited free entry for children.
          </p>
          <br />
          <p
            class="wow fadeInLeft"
            data-wow-delay=".5s"
            style="text-align: justify"
          >
            Whilst we ask that a indoor play area membership be filled out in
            the name of an adult, it is attached to the child/ren named on the
            indoor play area membership form. As a result, different carers can
            bring the child under the membership. This is great for
            nannies/grand parents and its great to see our customers using their
            memberships frequently.
          </p>
          <br />
          <p
            class="wow fadeInLeft"
            data-wow-delay=".5s"
            style="text-align: justify"
          >
            <b>Please Note:</b> You cannot substitute children under the
            membership. For example, if you buy a 1-child membership it is only
            in the name of the child listed on the membership form. If you list
            more than one child on the membership form, we will apply the
            membership only to the first child listed on the membership form.
          </p>
          <div class="list_content" style="display: none">
            <ul>
              <li class="wow fadeInLeft" data-wow-delay=".5s">
                <i class="far fa-check-circle"></i> Best Learning School for
                Kids
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".5s">
                <i class="far fa-check-circle"></i> Indoor/Outdoor Games for
                Little Kids
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".6s">
                <i class="far fa-check-circle"></i> Professional &amp; Qualified
                Teacher
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".6s">
                <i class="far fa-check-circle"></i> Indoor/Outdoor Games for
                Little Kids
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fetures_part padding_top padding_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section_tittle_style_02" style="margin-bottom: 0">
          <h2 class="title wow fadeInDown" data-wow-delay=".3s">
            <span class="title_overlay_effect">See Our Plans & Pricing</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="single_event_section_part">
          <div class="row justify-content-between">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
              <div class="single_event_part event_bg_01">
                <h4>Basic Plan</h4>
                <hr />
                <p><b>Membership Fee:</b> Rs.2000/-</p>
                <p><b>Membership Days:</b> 7 Days</p>
                <p><b>Validity Days:</b> 30 Days</p>
                <p><b>Access to Play Zone:</b> Unlimited</p>
                <p><b>Birthday Party Discount:</b> N/A</p>
                <hr />
                <a
                  class="pc-button elementor-button button-link cu_btn mt-lg-4"
                  style="display: inline-block"
                >
                  <div class="button-content-wrapper">
                    <span class="elementor-button-text" style="color: white"
                      >Contact Us
                    </span>
                    <svg class="pc-dashes inner-dashed-border animated-dashes">
                      <rect
                        x="5px"
                        y="5px"
                        rx="22px"
                        ry="22px"
                        width="170"
                        height="50"
                      ></rect>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
              <div class="single_event_part event_bg_02">
                <h4>Standard Plan</h4>
                <hr />
                <p><b>Membership Fee:</b> Rs.5000/-</p>
                <p><b>Membership Days:</b> 20 Days</p>
                <p><b>Validity Days:</b> 90 Days</p>
                <p><b>Access to Play Zone:</b> Unlimited</p>
                <p><b>Birthday Party Discount:</b> N/A</p>
                <hr />
                <a
                  class="pc-button elementor-button button-link cu_btn mt-lg-4"
                  style="display: inline-block"
                >
                  <div class="button-content-wrapper">
                    <span class="elementor-button-text" style="color: white"
                      >Contact Us
                    </span>
                    <svg class="pc-dashes inner-dashed-border animated-dashes">
                      <rect
                        x="5px"
                        y="5px"
                        rx="22px"
                        ry="22px"
                        width="170"
                        height="50"
                      ></rect>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
              <div class="single_event_part event_bg_03">
                <h4>Premium Plan</h4>
                <hr />
                <p><b>Membership Fee:</b> Rs.10,000/-</p>
                <p><b>Membership Days:</b> 45 Days</p>
                <p><b>Validity Days:</b> 180 Days</p>
                <p><b>Access to Play Zone:</b> Unlimited</p>
                <p><b>Birthday Party Discount:</b> 5%</p>
                <hr />
                <a
                  class="pc-button elementor-button button-link cu_btn mt-lg-4"
                  style="display: inline-block"
                >
                  <div class="button-content-wrapper">
                    <span class="elementor-button-text" style="color: white"
                      >Contact Us
                    </span>
                    <svg class="pc-dashes inner-dashed-border animated-dashes">
                      <rect
                        x="5px"
                        y="5px"
                        rx="22px"
                        ry="22px"
                        width="170"
                        height="50"
                      ></rect>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="1s">
              <div class="single_event_part event_bg_04">
                <h4>Elite Plan</h4>
                <hr />
                <p><b>Membership Fee:</b> Rs.20,000/-</p>
                <p><b>Membership Days:</b> 120 Days</p>
                <p><b>Validity Days:</b> 365 Days</p>
                <p><b>Access to Play Zone:</b> Unlimited</p>
                <p><b>Birthday Party Discount:</b> 10%</p>
                <hr />
                <a
                  class="pc-button elementor-button button-link cu_btn mt-lg-4"
                  style="display: inline-block"
                >
                  <div class="button-content-wrapper">
                    <span class="elementor-button-text" style="color: white"
                      >Contact Us
                    </span>
                    <svg class="pc-dashes inner-dashed-border animated-dashes">
                      <rect
                        x="5px"
                        y="5px"
                        rx="22px"
                        ry="22px"
                        width="170"
                        height="50"
                      ></rect>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-testimonial></app-testimonial>
