<footer class="footer_section" *ngIf="false">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-lg-3 col-sm-6 wow fadeInDown"
        data-wow-delay=".3s"
        style="
          visibility: visible;
          animation-delay: 0.3s;
          animation-name: fadeInDown;
        "
      >
        <div class="single_footer_widget">
          <a href="index.html" class="footer_logo"
            ><img src="assets/images/footer_logo.png" alt="#"
          /></a>
          <p>
            Lorem ipsum dolor sit consectetur sicing elit, sed do eitempor idunt
            ut labor omagn aliqua sed do
          </p>
          <div class="social_icon">
            <a href="#"><img src="assets/images/fb.png" alt="#" /></a>
            <a href="#"><img src="assets/images/inst.png" alt="#" /></a>
            <a href="#"><img src="assets/images/feed.png" alt="#" /></a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-2 col-sm-6 wow fadeInDown"
        data-wow-delay=".5s"
        style="
          visibility: visible;
          animation-delay: 0.5s;
          animation-name: fadeInDown;
        "
      >
        <div class="single_footer_widget footer_nav">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Service and Prices</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Get In Touch Wirh Us</a></li>
          </ul>
        </div>
      </div>
      <div
        class="col-lg-2 col-sm-6 wow fadeInDown"
        data-wow-delay=".7s"
        style="
          visibility: visible;
          animation-delay: 0.7s;
          animation-name: fadeInDown;
        "
      >
        <div class="single_footer_widget footer_nav">
          <h4>Information</h4>
          <ul>
            <li><a href="about_us.php">News</a></li>
            <li><a href="blog.php">Prices</a></li>
            <li><a href="#">Rules of Play</a></li>
          </ul>
        </div>
      </div>
      <div
        class="col-lg-2 col-sm-6 wow fadeInDown"
        data-wow-delay=".9s"
        style="
          visibility: visible;
          animation-delay: 0.9s;
          animation-name: fadeInDown;
        "
      >
        <div class="single_footer_widget instagram_feed">
          <h4>Instagram Feed</h4>
          <div class="instagram_img">
            <a href="#"
              ><img src="assets/images/ins_1.png" alt="#" class="img-fluid"
            /></a>
            <a href="#"
              ><img src="assets/images/ins_2.png" alt="#" class="img-fluid"
            /></a>
            <a href="#"
              ><img src="assets/images/ins_3.png" alt="#" class="img-fluid"
            /></a>
            <a href="#"
              ><img src="assets/images/ins_4.png" alt="#" class="img-fluid"
            /></a>
            <a href="#"
              ><img src="assets/images/ins_5.png" alt="#" class="img-fluid"
            /></a>
            <a href="#"
              ><img src="assets/images/ins_6.png" alt="#" class="img-fluid"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-12 wow fadeInDown"
        data-wow-delay=".3s"
        style="
          visibility: visible;
          animation-delay: 0.3s;
          animation-name: fadeInDown;
        "
      >
        <div class="copyright_part text-center">
          <p>
            © Copyright 2024 Design by
            <a href="">Gaj </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_animation_1">
    <div data-parallax='{"x": 2, "y": 50, "rotateZ":0}'>
      <img src="assets/images/footer_icon_1.png" alt="#" />
    </div>
  </div>
  <div class="footer_animation_2">
    <div data-parallax='{"x": 10, "y": 40, "rotateZ":0}'>
      <img src="assets/images/footer_icon_2.png" alt="#" />
    </div>
  </div>
  <div class="footer_animation_3">
    <div data-parallax='{"x": 30, "y": 70, "rotateZ":0}'>
      <img src="assets/images/footer_icon_3.png" alt="#" />
    </div>
  </div>
</footer>

<footer class="footer_section home_two_footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-sm-6 wow fadeInDown" data-wow-delay=".3s">
        <div class="single_footer_widget">
          <a href="index.html" class="footer_logo"
            ><img src="assets/images/logo.png" alt="#"
          /></a>
          <p>
            Lorem ipsum dolor sit consectetur sicing elit, sed do eitempor idunt
            ut labor omagn aliqua sed do .
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
        <div class="single_footer_widget footer_nav">
          <h4>Class</h4>
          <ul>
            <li><a href="#">Master Mind</a></li>
            <li><a href="#">Junior Lambs</a></li>
            <li><a href="#">Happy Kiddo</a></li>
            <li><a href="#">Master Mind</a></li>
            <li><a href="#">Junior Lambs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
        <div class="single_footer_widget footer_nav">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Classes</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInDown" data-wow-delay=".9s">
        <div class="single_footer_widget instagram_feed">
          <h4>Newsletter</h4>
          <p>
            Lorem ipsum dolor sit consectetur sicing elit, sed do eitempor idunt
            ut labor elit, sed do omagn aliqua
          </p>
          <form action="#">
            <div class="input-group">
              <input type="Email" class="form-control" placeholder="Email" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bg">
    <img src="assets/images/footer_bg.png" alt="#" class="img-fluid" />
  </div>
  <div class="footer_animation_3">
    <div data-parallax='{"x": 30, "y": 70, "rotateZ":0}'>
      <img src="assets/images/footer_img.png" alt="#" style="margin: 0 auto" />
    </div>
  </div>
</footer>
