<section
  class="breadcrumb_part parallax_bg"
  style="background-position: 50% 0px"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="breadcrumb_iner">
          <h2>About Us</h2>
          <div class="breadcrumb_iner_link">
            <a href="index.html">Home</a>
            <span>|</span>
            <p>About us</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb_animation_4">
    <div data-parallax='{"x": 30, "y": 250, "rotateZ":0}'>
      <img src="assets/images/animated_banner_4.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_5">
    <div data-parallax='{"x": 20, "y": 150, "rotateZ": 180}'>
      <img src="assets/images/animated_banner_5.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_7">
    <div data-parallax='{"x": 100, "y": 250, "rotateZ":0}'>
      <img src="assets/images/animated_banner_15.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_10">
    <div data-parallax='{"x": 15, "y": 150, "rotateZ":0}'>
      <img src="assets/images/animated_banner_10.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_12">
    <div data-parallax='{"x": 20, "y": 150, "rotateZ":180}'>
      <img src="assets/images/animated_banner_20.png" alt="#" />
    </div>
  </div>
  <div class="breadcrumb_animation_13">
    <div data-parallax='{"x": 10, "y": 250, "rotateZ": 180}'>
      <img src="assets/images/animated_banner_21.png" alt="#" />
    </div>
  </div>
</section>

<section class="about_section section_padding s4_about_section">
  <div class="container custom_container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-xl-5 order-2 order-lg-1">
        <div class="about_section_content mt-5 mt-lg-0">
          <h5 class="kid_title wow fadeInLeft" data-wow-delay=".3s">
            Who We Are
          </h5>
          <h2 class="kid_title wow fadeInLeft" data-wow-delay=".4s">
            <span class="title_overlay_effect">We Create New</span>
          </h2>
          <p class="wow fadeInLeft" data-wow-delay=".5s">
            The amazing way to olor sit amet, consectetur adipisicing elit, sed
            do eiusmod incididunt ut labore inventore The amazing way to olor
            sit amet, consectetur. consectetur adipisicing elit, sed do eiusmod
            incididunt ut labore inventore.
          </p>
          <div class="list_content">
            <ul>
              <li class="wow fadeInLeft" data-wow-delay=".5s">
                <i class="far fa-check-circle"></i> Best Learning School for
                Kids
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".5s">
                <i class="far fa-check-circle"></i> Indoor/Outdoor Games for
                Little Kids
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".6s">
                <i class="far fa-check-circle"></i> Professional &amp; Qualified
                Teacher
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".6s">
                <i class="far fa-check-circle"></i> Indoor/Outdoor Games for
                Little Kids
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="img_section">
          <img
            src="assets/images/about_img_shape_2.png"
            alt="#"
            class="about_img_7"
            data-parallax='{"x": 0, "y": -50, "rotateZ":0}'
          />
          <img
            src="assets/images/about_img_7.png"
            alt="#"
            class="about_img_6 img-fluid"
          />
          <img
            src="assets/images/about_img_shape_1.png"
            alt="#"
            class="about_img_5"
            data-parallax='{"x": 0, "y": 50, "rotateZ":0}'
          />
        </div>
      </div>
    </div>
  </div>
  <div class="about_page_animation_1">
    <div data-parallax='{"x": 2, "y": 70, "rotateZ":0}'>
      <img src="assets/images/icon_5.png" alt="#" />
    </div>
  </div>
  <div class="about_page_animation_2">
    <div data-parallax='{"x": 10, "y": 80, "rotateZ":0}'>
      <img src="assets/images/icon_6.png" alt="#" />
    </div>
  </div>
  <div class="about_page_animation_3">
    <div data-parallax='{"x": 30, "y": 60, "rotateZ":0}'>
      <img src="assets/images/icon_7.png" alt="#" />
    </div>
  </div>
  <div class="about_page_animation_4">
    <div data-parallax='{"x": 30, "y": -50, "rotateZ":0}'>
      <img src="assets/images/icon_8.png" alt="#" />
    </div>
  </div>
</section>

<app-enrollment></app-enrollment>

<section class="team_section section_padding">
  <div class="container custom_container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section_tittle_style_02">
          <h2 class="title wow fadeInDown" data-wow-delay=".3s">
            <span class="title_overlay_effect">Our Team of Professionals</span>
          </h2>
          <p class="description wow fadeInDown" data-wow-delay=".3s">
            Kidzo mission is to provide affordable, high-quality early education
            and childcare services for working families to ensure every child.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
        <div class="single_team_section">
          <a href="teacher_details.html" class="d-block teacher_profile_img">
            <img src="assets/images/team_1.png" alt="#" class="img-fluid" />
          </a>
          <a href="teacher_list.html" class="teacher_category">Instructor</a>
          <h4><a href="teacher_details.html">Dan Bergeron</a></h4>
          <p>Mathematics</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
        <div class="single_team_section">
          <a href="teacher_details.html" class="d-block teacher_profile_img">
            <img src="assets/images/team_2.png" alt="#" class="img-fluid" />
          </a>
          <a href="teacher_list.html" class="teacher_category">Instructor</a>
          <h4><a href="teacher_details.html">Roshan Bhula</a></h4>
          <p>English Literature</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
        <div class="single_team_section">
          <a href="teacher_details.html" class="d-block teacher_profile_img">
            <img src="assets/images/team_3.png" alt="#" class="img-fluid" />
          </a>
          <a href="teacher_list.html" class="teacher_category"
            >Senior Teacher</a
          >
          <h4><a href="teacher_details.html">Jessica Hamel</a></h4>
          <p>General Knowledge</p>
        </div>
      </div>
    </div>
  </div>
  <div class="team_animation_1">
    <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'>
      <img src="assets/images/story_animation_1.png" alt="#" />
    </div>
  </div>
  <div class="team_animation_2">
    <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'>
      <img src="assets/images/story_animation_2.png" alt="#" />
    </div>
  </div>
  <div class="team_animation_3">
    <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'>
      <img src="assets/images/story_animation_3.png" alt="#" />
    </div>
  </div>
  <div class="team_animation_4">
    <div data-parallax='{"x": 5, "y": 105, "rotateZ":0}'>
      <img src="assets/images/team_animation.png" alt="#" />
    </div>
  </div>
  <div class="team_animation_5">
    <div data-parallax='{"x": 8, "y": 110, "rotateZ":0}'>
      <img src="assets/images/story_animation_5.png" alt="#" />
    </div>
  </div>
</section>
